<ngb-tabset #t="ngbTabset">
  <ngb-tab id="tab-selectbyid1" title="My Requests">
    <ng-template ngbTabContent>

      <!---->
      <br>
      <div class="container col-md-7" *ngFor="let eventRequest of organizerList">
        <br>


        <div class="card box-shadow">
          <div class="card-header"><h3 class="my-0 font-weight-normal1">
            {{eventRequest.title}}
          </h3>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{eventRequest.description}}</h5>
            <dl class="list-unstyled mt-3 mb-4">
              <dt> Location :</dt>
              <dd>- {{eventRequest.location}} </dd>
              <dt> Attendee :</dt>
              <dd>- {{eventRequest.attendees}}</dd>
              <dt> Date :</dt>
              <dd>- {{eventRequest.date | date:"fullDate"}}</dd>
              <dt> Time :</dt>
              <dd>- {{eventRequest.time}}</dd>
              <dt> Number of Hours :</dt>
              <dd>- {{eventRequest.time}}</dd>
            </dl>
          </div>
          <div [ngSwitch]="eventRequest.requestStatus" class="card-footer text-muted">
            <div *ngSwitchCase="'INITIATED'"><span class="badge badge-pill badge-primary">INITIATED</span></div>
            <div *ngSwitchCase="'ACCEPTED'"><span class="badge badge-pill badge-success">ACCEPTED</span></div>
            <div *ngSwitchCase="'REJECTED'"><span class="badge badge-pill badge-danger">REJECTED</span> <br>
              <div class="alert alert-danger">
                <strong>Reason :</strong>{{eventRequest.requestStatusReason}}
              </div>
              <br>
            </div>
          </div>


        </div>
        <br>
      </div>
      <br>
      <!--      -->

    </ng-template>
  </ngb-tab>
  <ngb-tab id="tab-selectbyid2">
    <ng-template ngbTabTitle>My Invites</ng-template>
    <ng-template ngbTabContent>
      <!--        -->
      <div *ngFor="let eventRequest of attendeeList" class="container col-md-7">
        <br>
        <div class="card text-center">
          <div class="card-header">
            {{eventRequest.title}}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{eventRequest.description}}</h5>
            <p class="card-text"> Location : {{eventRequest.location}}</p>
            <p class="card-text"> Requestor : {{eventRequest.organizer}}</p>
            <div *ngIf="isInitiated(eventRequest.requestStatus); then thenBlock; else elseBlock;"></div>
            <ng-template #thenBlock>
              <button type="button" class="btn btn-outline-success" (click)="acceptRequest(eventRequest)">Accept
              </button>
              <button type="button" class="btn btn-outline-danger" (click)="rejectRequest(eventRequest)">Reject</button>
              <input type="text" [(ngModel)]="eventRequest.requestStatusReason">
            </ng-template>
            <ng-template #elseBlock>
              <div *ngIf="isAccepted(eventRequest.requestStatus); then thenBlock; else elseBlock;"></div>
              <ng-template #thenBlock>
                <button type="button" class="btn btn-success" disabled>Accepted</button>
              </ng-template>
              <ng-template #elseBlock>
                <button type="button" class="btn btn-danger" disabled>Rejected</button>
                <br>
                <br>
                <div class="alert alert-danger">
                  <strong>Reason :</strong>{{eventRequest.requestStatusReason}}
                </div>
                <br>
                <br>

              </ng-template>


            </ng-template>
          </div>
          <div class="card-footer text-muted">
            {{eventRequest.date | date:"fullDate"}} - {{eventRequest.time}} - for {{eventRequest.hours}} Hours.
          </div>
        </div>
        <br>
      </div>
      <!--      -->


    </ng-template>
  </ngb-tab>
</ngb-tabset>
