<form (ngSubmit)="loginUser()">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Username:</span>
    </div>
    <input class="form-control" type="text" name="username" id="username" [(ngModel)]="user.userName">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Password:</span>
    </div>
    <input required minlength="8" class="form-control" type="password" name="password" id="password"
           [(ngModel)]="user.password">
  </div>
  <button type="submit" class="btn btn-outline-primary">LOGIN</button>
</form>


