
<ngb-tabset>
  <ngb-tab title="LOGIN">
    <ng-template ngbTabContent>
      <h1>Login</h1>
      <form (ngSubmit)="loginUser()">
        <label for="username">Username: </label><input type = "text" name="username" id="username" [(ngModel)]="user.userName"><br><br>
        <label for="password">Password: </label><input type = "password" name="password"  id = "password" [(ngModel)]="user.password" ><br><br>
        <button type = "submit">LOGIN</button>
      </form>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>Sign UP</ng-template>
    <ng-template ngbTabContent>
      <app-signup></app-signup>

    </ng-template>
  </ngb-tab>
</ngb-tabset>
