
<form (ngSubmit)="signupUser()" id="regForm">
  <aw-wizard navBarLocation = "">
    <aw-wizard-step stepTitle="Title of step 1">
      <br><br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">First Name:</span>
        </div>
        <input class="form-control" type = "text" name="firstname" id="firstname" [(ngModel)]="user.firstName">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Last Name:</span>
        </div>
        <input class="form-control" type = "text" name="lastname" id="lastname" [(ngModel)]="user.lastName">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Phone no:</span>
        </div>
        <input class="form-control" type = "text" name="phoneno" id="phoneno" [(ngModel)]="user.phoneNo">
      </div>

      <button class = "btn btn-outline-primary" type="button" awNextStep>Next Step</button>
    </aw-wizard-step>

    <aw-wizard-step stepTitle="Title of step 2">
      <br><br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">College Name: </span>
        </div>
        <input class="form-control"  type = "text" name="collegeName" id="collegeName" [(ngModel)]="user.collegeName">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Degree: </span>
        </div>
        <input class="form-control" type = "text" name="degree" id = "degree" [(ngModel)]="user.degree">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Course: </span>
        </div>
        <input class="form-control" type = "text" name="course" id = "course" [(ngModel)]="user.course">
      </div>


      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Graduation Year:  </span>
        </div>
        <input class="form-control" type = "date" name="course" id = "graduationYear" [(ngModel)]="user.graduationYear">
      </div>

      <button class = "btn btn-outline-primary"  type="button" awPreviousStep>Go to previous step</button>&nbsp;&nbsp;
      <button  class = "btn btn-outline-primary"  type="button" awNextStep>Go to next step</button>
    </aw-wizard-step>


    <aw-wizard-step stepTitle="Title of step 3">
      <br><br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Email ID:</span>
        </div>
        <input class="form-control" type = "text" name="email" id="email" [(ngModel)]="user.email">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Username:</span>
        </div>
        <input class="form-control" type = "text" name="username" id="username" [(ngModel)]="user.userName">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Password:</span>
        </div>
        <input class="form-control" type = "password" name="password" id = "password" [(ngModel)]="user.password">
      </div>

      <button  class = "btn btn-outline-primary"type="button" awPreviousStep>Go to previous step</button>&nbsp;&nbsp;
      <button class = "btn btn-outline-primary" type="button" awNextStep>Go to next step</button>
    </aw-wizard-step>




    <aw-wizard-step stepTitle="Title of step 3">
      <br><br>
      <tag-input
        [(ngModel)]="tags"
        name = "tagsLst"
        [onlyFromAutocomplete]="true">
        <tag-input-dropdown [showDropdownIfEmpty]="true"
                            [identifyBy]="'_id'"
                            [displayBy]="'tagName'"
                            [autocompleteItems]="tagsList">
        </tag-input-dropdown>
      </tag-input>
      <br><br><br>
      <button class = "btn btn-outline-primary" type="button" awPreviousStep>Previous Step</button>&nbsp;&nbsp;
      <button class = "btn btn-outline-primary" type = "submit">SIGNUP</button>

    </aw-wizard-step>

  </aw-wizard>
</form>
