<div class="homepage-navbar">
  <img class = "logo" src="assets/Images/faq.png">
</div>

<div class="centreDisplay">
<div>
  <ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle>LOGIN</ng-template>
    <ng-template ngbTabContent>
      <br>
      <br>
      <app-login></app-login>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>SIGN UP</ng-template>
    <ng-template ngbTabContent>
      <app-signup></app-signup>

    </ng-template>
  </ngb-tab>
</ngb-tabset>
</div>
</div>
