<div class="main-container">
  <div class="list-container">
    <div *ngFor="let question of questions">
      <div class="question-item">
        <div class="question-title">{{question.title}}</div>
        <div class="question-description">{{question.description}}</div>
        <div class="answer-count">{{question.answers.length}} Answers</div>
        <div class="date-created">Posted on: {{question.dateCreated}}</div>
<!--        <div class="author-name">Posted on: {{question.userName}}</div>-->
      </div>
      <br>
    </div>
  </div>
</div>
