<div class="card">

  <div class="card-body">
    <div *ngFor="let question of pageOfItems">
<!---->
      <div class="card" (click)="onQuestionItemClick(question)" >
        <div class="card-header bg-light">
          {{question.title}}
        </div>
        <div class="card-body">

<!--     Answer Card    -->
<!--        /// Answer Card  -->
        </div>
        <div class="card-footer">

        </div>
      </div>




<!--      -----------------------------                         -->

        <div class="question-title"></div>
        <div class="question-description">{{question.description}}</div>
        <div class="answer-count">{{question.answers.length}} Answers</div>
        <div class="date-created">Posted on: {{question.dateCreated}}</div>
        <div class="author-name">Posted by: {{question.userName}}</div>
        <div class="top-answer"><br>{{question.topAnswerUser}}: {{question.topAnswerContent}}</div>
      </div>
      <br>

<!--      -->
    </div>
  </div>
  <div class="card-footer pb-0 pt-3">
    <jw-pagination [items]="questions" [pageSize]="6" (changePage)="onChangePage($event)"></jw-pagination>
  </div>
<!--</div>-->
